<h1>Home</h1>

<h3>What movie do you want to search for?</h3>

<form method="GET" action="/movies">
    <label for="seachBar">Search Movies: </label>
    <input type="text" id="searchBar" name="q" value="Titanic">
    <input type="submit">
</form>